footer {
    position: 'absolute';
    bottom: 0;
    left: 0;
    right: 0;
    height: 7vh;
    background-color: #374151;
    /* border-top: 1px solid black; */
}

.footer-links img:hover {
    box-shadow: 3px 3px 5px 2px rgb(0 0 0/40%);
    scale: 120%;
}