nav img {
    width: 50px;
    height: 50px;
}
#light .navlinks {
    color: #2f2e2d;
}
#dark .navlinks {
    color: #f5f5f5;
}
#light .navlinks:hover {
    color: #1e40af;
    background-color: #9ca3af;
}
#dark .navlinks:hover {
    color: #3b82f6;
    background-color: #6b7280;
}
#light .active {
    color: #2563eb;
    pointer-events: none;
}
#dark .active {
    color: #2563eb;
    pointer-events: none;
}