/* #name-and-phone input {
    width: 18vw;
} */



textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#light .textbox {
    background-color: #9ca3af;
}
#light #sendbutton {
    background-color: #0ea5e9;
}
#light #sendbutton:hover {
    background-color: #7dd3fc;
}