@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Arimo&family=IBM+Plex+Sans:wght@300;500&family=Manrope&family=Poppins:wght@200&family=Sometype+Mono&display=swap');

:root {}

#light {
  background-color: #f5f5f5;
  transition: ease-in-out;
  transition-duration: 150ms;
}

#dark {
  background-color: #2f2e2d;
  transition: ease-in-out;
  transition-duration: 150ms;
}

#light .text-color {
  color: #2f2e2d;
  transition: ease-in-out;
  transition-duration: 300ms;
}

#dark .text-color {
  color: white;
  transition: ease-in-out;
  transition-duration: 300ms;
}

#light .hr {
  border-top: 1px solid #2f2e2d;
  transition: ease-in-out;
  transition-duration: 150ms;
}

#light .border {
  border: 2px solid #2f2e2d;
  transition: ease-in-out;
  transition-duration: 150ms;
}

#dark .border {
  border: 2px solid #f5f5f5;
  transition: ease-in-out;
  transition-duration: 150ms;
}

#dark .hr {
  border-top: 1px solid #f5f5f5;
  transition: ease-in-out;
  transition-duration: 150ms;
}

#light .toggle:hover {
  background-color: #2f2e2d;
}

[data-theme='dark'] {
  --body_background: white;
  --body_text: white;
}


body {
  margin: 0;
  height: 100vh;
  position: relative;
  font-family: 'Arimo', sans-serif;
  background-color: var(--body_background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.height85 {
  min-height: 81vh;
}

.skill {
  height: 70px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#portrait {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: top;
}